.base_body{
    max-width: 80%;
    margin: 0px auto 45px;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(223, 221, 218)
}

.head{
    margin-top: 0px;
    height: 60px;
    /* position:sticky;
    top:0px;*/
    background-color: rgb(223, 221, 218);
    border-bottom: 2px outset #333131;
}

.head h1{
    line-height:60px;
}

#diretores_titulo{
    font-weight: bold;
    font-size: 24px
}

.base_body a{
    text-decoration: none;
    color:black
}


.header_image{
    max-width: 100%;
    text-align: center;
    height:250px;
    /* background-image: url(/static/images/f-for-fake-1200.jpg); */
    background-size:auto;
    background-repeat: no-repeat;
    /* background-position: center -160px; */
}


.links{
    text-decoration: none;
    color:black;
}

/* div{
    border: 2px solid black
} */

.biography{
    display:grid;
    align-items:center;
    grid-template-columns:auto 1fr;
    column-gap: 50px;
    margin-top: 30px;
}

.biography h2{
    font-weight:bold;
    font-size: 24px
}

.director_details{
    background-color: #99928a;
    padding: 2px;
    margin: 30px 0 0 0;
    box-shadow: 2px 4px 10px #333131;
}

.director_details h3{
    font-weight: bold;
    font-size:24px
}

.director_image{
    height:150px;
    width:auto;
    text-align: center;
}

details{
    background-color: #99928a;
    padding: 2px;
    margin: 10px;
    box-shadow: 2px 4px 10px #333131;
}

summary{
    list-style-type:none;
}

.director_summary{
    display:grid;
    grid-template-columns:auto 1fr;
    flex: 34px;
    padding: 4px;
    width: 100%;
    background-color: #cac8c3;
    border: none;
    box-shadow: 1px 1px 1px #bbbbbb;
    cursor:pointer;
}


.film_poster{
    max-height: 200px;
    text-align:center;
}

.film_grid{
    display:grid;
    grid-template-columns:auto auto auto auto auto auto;
    width: 100%;
    padding:auto;
    margin-top: 30px;
}

.film_item{
    text-align:center;
    /* border:1px solid black; */
    font-size:16px;

}

.base_footer{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}