<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"> 
    <title> {% block title %} {% endblock %} </title>
</head>
<body class="base_body">
    <!-- header -->
    
    <!-- links -->
    <div class="head">
        <span style="float:right; margin-block-start:20px;">
            <a class="links" href="/">Página inicial</a> | 
            <a class="links" href="/directors">Diretores</a> | 
            <a class="links" href="/all_films">Filmes</a> | 
            <a class="links" href="/my_attempts">My attempts</a>
        </span>
        <h1><strong>{% block page_title %} {% endblock %}</strong></h1>
    </div>
    <!-- <hr> -->
    {% block header_image %}{% endblock %}
    
    <!-- page content -->
    {% block content %}{% endblock %}
    
    <!-- footer -->
    <hr>
    <footer class="base_footer">
        <h4>This page is an homage to that which I could not do</h4>
        <a href ='https://github.com/pedro-fs-garcia'>about the author</a>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>