{% extends "base.html" %}

{% block title %}Diretores{% endblock %}

{% block page_title %}Diretores{% endblock %}

{% block header_image %}<div class="header_image" style="background-image:url(/static/images/Directors.jpg);background-position:center;"></div> {% endblock %}

{% block active_directors %}active{% endblock %}

{% block content %}


<br>
    <h2 id="diretores_titulo">Eles levam a culpa e ficam com o crédito...</h2>

    <p style="margin-left: 45px;">Essa lista não comporta os melhores, nem deveriam todos os bons diretores estar aqui. Alguns têm muitos filmes na lista, outros têm um. Ainda outros têm nenhum, e outros têm muitos que não estão listados. Eu, aqui, não avalio os filmes, mas a direção. Pois isso serve ao único propósito de me lembrar de alguns poucos.</p>
    <p style="margin-left: 45px;">Meus critérios são totalmente subjetivos...</p>
    <br>


    <div>
        {% for name in directors %}
            {% if name != "others" %}
            <div class="director_details">
                <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapse{{name}}" aria-controls="collapse{{name}}" role="button">
                    <h3 style="margin:2px; text-align:left">{{name.replace("_", " ").title()}}</h3>
                    <div class="director_summary">
                        <img class="director_image" src="/static/images/directors/{{name}}.jpg">
                        <div style="margin:auto 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus perspiciatis natus reiciendis eaque repudiandae consectetur corrupti sequi blanditiis maiores, necessitatibus magnam, asperiores recusandae, aliquam esse? Quaerat quos aperiam reiciendis.</div>
                    </div>
                </button>
                <div class="collapse" id="collapse{{name}}">
                    <div class="film_grid" >
                        {% for poster in directors[name] %}
                        <figure class="film_item"><a href="#" target="_blank" style="text-align:center">
                            <img class="film_poster" src="/static/images/films/{{poster.replace(' ', '_')}}.jpg"><br>{{poster.title()}}
                        </a></figure>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
                <br>
            </div>
        {% endfor %}
        </div>  



{% endblock %}