{% extends "base.html" %}

{% block title %}Diretores{% endblock %}

{% block page_title %}Diretores{% endblock %}

{% block header_image %}<div class="header_image" style="background-image:url(/static/images/Directors.jpg);background-position:center;"></div> {% endblock %}


{% block content %}
<br>
    <h2 id="diretores_titulo">They take the blame and hold the glory...</h2>

    <p style="margin-left: 45px;">This list does not frame the best directors, nor should all good directors be framed here. Some have many movies in the list, others have only one. Some have none, and others that have many are not here. I, here, do not judge the movies, but the directing. For this serves the sole purpose of reminding myself of a few ones.</p>
    <p style="margin-left: 45px;">My criteria are completely subjective...</p>
    <br>


    <div>
        {% for name in directors %}
            {% if name != "others" %}
            <div class="director_details">
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multicollapseExample{{name}}" aria-expanded="false" aria-controls="multicollapseExample{{name}}">
                    <h3 style="margin:2px; text-align:left">{{name.replace("_", " ").title()}}</h3>
                    <div class="director_summary">
                        <img class="director_image" src="/static/images/directors/{{name}}.jpg">
                        <div style="margin:auto 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae repellendus perspiciatis natus reiciendis eaque repudiandae consectetur corrupti sequi blanditiis maiores, necessitatibus magnam, asperiores recusandae, aliquam esse? Quaerat quos aperiam reiciendis.</div>
                    </div>
                </button>
                <div class="collapse multi-collapse" id="multicollapseExample{{name}}">
                    <div class="film_grid" >
                        {% for poster in directors[name] %}
                        <figure class="film_item"><a href="#" target="_blank" style="text-align:center">
                            <img class="film_poster" src="/static/images/films/{{poster.replace(' ', '_')}}.jpg"><br>{{poster.title()}}
                        </a></figure>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
                <br>
            </div>
        {% endfor %}
        </div>  



{% endblock %}