{% extends "base.html" %}

{% block title %}Grandes Filmes{% endblock %}

{% block active_index %}active{% endblock %}

{% block page_title %}Grandes Filmes{% endblock %}


{% block header_image %}<header class="header_image"
    style="background-image:url(/static/images/directors/orson_welles.jpg); background-position: center -160px">
</header>{% endblock %}


{% block content %}



<div class="biography">
    <div style="width: 100%">
        <h2>Já é hora para uma introdução...</h2>
        <p style="margin-left: 45px;">Senhoras e senhores, para propósitos de introdução, esse é um site que trata de gostos, preferências, favoritismo...</p>
        <p style="margin-left: 45px;">Contado pelalareira, no mercado ou em um filme, quase toda lista de melhores filmes são quase com certeza uma mentira. Mas não dessa vez. Não, isso é uma promessa. Durante seu tempo aqui, tudo que verá é verdade e baseado nas minhas próprias preferências.</p>
        <br>
        <h2>Ese é um negócio em que o cliente leva nada além de uma lembrança</h2>
        <p style="margin-left:45px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nesciunt? Sequi,
            reiciendis quia porro velit architecto, tempora at sit fuga adipisci dicta quaerat, blanditiis illo! Eos
            nesciunt facilis et laboriosam?</p>
    </div>
    <div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel"
            style="width:450px; text-align:center">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000" style="text-align:center">
                    <img src="/static/images/films/the_apartment.jpg" style="height:400px"><br>
                    <strong>The Apartment</strong>
                </div>
                {% for name in directors %}
                    {% for film in directors[name] %}
                        <div class="carousel-item" data-bs-interval="2000" style="text-align: center;">
                            <img src="/static/images/films/{{film.replace(' ', '_')}}.jpg" style="height:400px"><br>
                            <strong>{{film.title()}}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}