{% extends "base.html" %}

{% block title %}Grandes Filmes{% endblock %}
    
    {% block page_title %}Grandes Filmes{% endblock %}
    
    {% block header_image %}<header class="header_image" style="background-image:url(/static/images/directors/orson_welles.jpg); background-position: center -160px"></header>{% endblock %}
    
    
    {% block content %}
        <div>
            <h2>Now it's time for an introduction...</h2>
            <p style="margin-left: 45px;">Ladies and gentlemen, by way of introduction, this is a site about preferences, taste, about bias.</p>
            <p style="margin-left: 45px;">Tell it by the fire side or in the market or in a movie, almost every list of favorites is almost certainly some kind of lie. But not this time. No, this is a promess: for your time in here, every thing you read is really true, and based only on my own preferences.</p>
            <br>
            <h3>The magic of cinema</h3>
            <p style="margin-left: 45px">This is a business where the buyer gets nothing for his money but a memory...</p>
    
        </div>

        <div>
            
        </div>





        <div>
   
        </div>

    {% endblock %}