{% extends "base.html" %}

{% block title %}
    UNES Universidade
{% endblock %}


{% block content %}
<body class="home">
    <!-- corpo e imagem -->
    <br>
    <div>
        <img class="capa" src="./static/imagens/capa.png" alt="imagem capa">
    </div>

    <div>
        <h1 class="titulo">Sobre a Universidade</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, mollitia vero! Saepe at
            asperiores possimus, voluptatum animi voluptatem! Alias ipsam tenetur cupiditate reprehenderit doloribus
            vitae accusamus qui cumque possimus rerum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam
            ullam amet explicabo ipsa. Ipsa, a molestiae labore perferendis officia accusamus nihil aspernatur dolore
            maxime ratione, incidunt aliquid accusantium laboriosam veniam.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt blanditiis temporibus
            harum delectus iste ad porro aut id vero atque, quisquam cumque, sit reiciendis non, molestias voluptatum
            dignissimos in accusamus? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatem aut
            aperiam officiis nobis, delectus consectetur perspiciatis nemo atque ipsa sequi facilis soluta. Aliquam
            repudiandae quam iusto dolorem dolor neque.</p>
    </div>
</body>
{% endblock %}