{% extends "base.html" %}

{% block title %}
    Quem Somos
{% endblock %}

{% block content %}
    <br>
    <div>
        <h2>Quem Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, amet ut. Reiciendis ratione temporibus,
            inventore soluta est perspiciatis dolorem quo culpa. Voluptate, obcaecati earum aut laborum distinctio
            pariatur dolores nulla! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima eligendi
            exercitationem consequatur incidunt voluptatem blanditiis porro! Asperiores exercitationem assumenda
            consectetur ratione? Doloremque veniam nostrum dolor inventore mollitia, voluptas rerum ea! Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Eum laborum recusandae amet optio aliquam, atque facilis
            accusamus sint quo molestias voluptates ex voluptatem voluptate? Praesentium dolores necessitatibus ducimus
            sunt saepe!</p>
    </div>
    <div>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>
    <hr>
    <div>
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repellendus nisi voluptatem obcaecati maxime unde aspernatur, aperiam commodi vitae quas voluptate aut et sequi culpa ratione quia est facere exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolor commodi atque enim aliquid eius error pariatur? Itaque eius nulla placeat magni ad eum error assumenda perspiciatis minus, eos aperiam.</p>
    </div>
{% endblock %}